:root{
    --font-family-primary:"Inter", sans-serif;
    --font-size-11:0.69625rem;
    --font-size-64:4rem;
    --font-size-25:1.56625rem;
    --font-size-19:1.218125rem;
    --font-size-9:0.5625rem;
    --font-size-36:2.25rem;
    --font-size-16:1rem;
    --font-size-13:0.87rem;
    --text-color-gray:#4D4D4D;
    --text-color-light-gray:#717171;
    --text-color-white:#fff;
    --text-color-light-white:#f5f7fa;
    --text-weight-500:500;
    --bg-color-green:#4caf4f;
    --bg-white:#fff;
    --bg-light-white:#F5F7FA;
    --footer-color:#263238;
    --btn-border-radius:.25rem;
    --padding-inline-22:1.391875rem;
    --padding-inline-114:7.178125rem;
    --padding-block-9:0.60875rem;
    --padding-block-11:0.69625rem;
    --padding-inline-11:0.69625rem;
    --padding-block-44:2.784375rem;
    --padding-block-66:4.17625rem;
    --padding-block-112:7.00125rem;
    --gap-5:0.348125rem;
    --gap-16:1.044375rem;
    --gap-72:4.524375rem;
    --gap-40:2.5rem;
    --gap-24:1.5rem;
    --gap-27:1.740625rem;
    --line-height-52:3.30625rem;
    --line-height-44:2.75rem;
    --line-height-24:1.5rem;
    --line-height-13:0.87rem;
    --line-height-19:1.218125rem;
    --margin-22:1.386875rem;
    --margin-11:0.710625rem;
    --margin-8:0.5rem;
    --margin-16:1rem;
    --margin-40:2.5rem;




}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{text-decoration: none;}
.list-style-none{list-style: none;}
/* body */
body{
    background-color:var(--bg-white);
    scroll-behavior: smooth;
}
html{
    font-size: 16px;
    font-family: var(--font-family-primary);
}
/* button */
.btn{
    display: inline-flex;
    background-color: var(--bg-color-green);
    border-radius: var(--btn-border-radius);
   padding: 10px 20px;
   align-items: baseline;
   gap: .5rem;
    color: var(--text-color-white);
}
.btn:hover{
   
    transform: scale(1.05);  
    box-shadow: 0px 10px 20px #4caf4fa9; 
    opacity: 0.8;
}
/* background color */
.bg-light-white{background-color:var(--bg-light-white);}
/* line height */
.line-height-44{line-height: var(--line-height-44);}
.line-height-20{line-height: 1.25rem;}
.line-height-36{line-height: 2.25rem;}
.line-height-24{line-height: 1.5rem;}
.line-height-76{line-height: 4.75rem;}
/* fonts */
.align-center{align-items: center;}
.text-gray{color: var(--text-color-gray);}
.text-light-gray{color: var(--text-color-light-gray);}
.font-weight-600{font-weight: 600;}
.font-weight-700{font-weight: 700;}
.font-size-28{font-size: 1.75rem;}
.font-size-14{font-size: 0.875rem;}
.font-size-11{font-size: 0.6875rem;}
.font-size-19{font-size: 1.1875rem;}
.font-size-36{font-size: var( --font-size-36);}
.font-size-64{font-size: 4rem;}
.text-color-light-black{color: var(--footer-color);}
/*  gap*/
.gap-50{gap: 3.125rem;}
.gap-32{gap: 2rem;}
.gap-8{gap: 0.5rem;}
.gap-24{gap: 1.5rem;}
/* span */
.span{
    color:#4caf4f;
}
/* flex */
.flex{display: flex;}
.justify-content-between{justify-content: space-between;}
.justify-content-center{justify-content: center;}
.items-center{align-items: center;}
.flex-column{flex-direction: column;}
.flex-wrap{flex-wrap: wrap;}
.grow-1{flex-grow: 1;}
/* container */
.container{
    max-width: 1160px;
    margin-inline: auto;
    padding-inline: 1rem;
    overflow: hidden;
}
/* text-center */
.text-center{text-align: center;}
/* margin */
.margin-bottom-8{
    margin-bottom: var(--margin-8);
}
.margin-bottom-40{
    margin-bottom: var(--margin-40);
}
.margin-bottom-16{margin-bottom: var(--margin-16);}
.margin-bottom-32{margin-bottom: 2rem;}
.margin-bottom-24{margin-bottom: 1.5rem;}
.margin-bottom-94{margin-bottom: 5.9125rem;}
.margin-bottom-29{margin-bottom: 1.8375rem;}
.margin-bottom-5{margin-bottom: 0.5rem;}
.margin-top-48 {margin-top: 3rem;}
/* padding */

.padding-block-32{padding-block: 2rem;}
.padding-block-64{padding-block: 4rem;}
.padding-block-84{padding-block: 5.25rem;}
.padding-inline-449{padding-inline:28.0625rem;}
.padding-inline-165{padding-inline:10.3125rem;}
.padding-inline-250{padding-inline:15.625rem;}

/* text-color */
.blue-text{color: #18191f;}
.title{
    font-family: var(--font-family-primary);
    font-size: var(--font-size-11);
    font-weight: 400;
    color: var(--text-color-gray);
    line-height: var(--line-height-24);


}

